@page "/"
@page "/games"
@inject IGameService GameService
@inject ICategoryService CategoryService
@inject IPlatformService PlatformService
@inject ISerieService SerieService
@inject ISnackbar Snackbar
@inject IDialogService DialogService
@inject NavigationManager Navigation
@inject SearchGameState SearchGameState

<div class="pa-4">
    <MudGrid>
        <MudItem xs="11"/>
        <MudItem xs="1">
            <MudSwitch @bind-Value="SearchGameState.BySerie" Label="Série" Color="Color.Success" />
        </MudItem>
    </MudGrid>
    @if (!SearchGameState.BySerie)
    {
        <MudTable T="SearchGameItemDto" ServerData="SearchGames" Hover="true" Striped="true" Loading="@_loading" LoadingProgressColor="Color.Info" @ref="_table" RowClass="cursor-pointer" OnRowClick="OnGameClicked">
            <ToolBarContent>
                <MudGrid>
                    <MudItem xs="11">
                        <MudText Typo="Typo.h6">Mes jeux</MudText>
                    </MudItem>
                    <MudItem xs="1">
                        <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" Size="Size.Small" OnClick="CreateGame" />
                    </MudItem>
                </MudGrid>
            </ToolBarContent>
            <HeaderContent>
                <MudTh>
                    <MudTextField T="string" Label="Nom" Immediate="true" Value="SearchGameState.SearchGame.Name" ValueChanged="OnSearchGameChanged" Placeholder="Final Fantasy VII"></MudTextField>
                </MudTh>
                <MudTh>
                    <MudSelect T="PlatformDto" Label="Platform" Clearable="true" Value="SearchGameState.SearchGame.Platform" ValueChanged="OnPlatformChanged" Placeholder="PS1">
                        @foreach (var platform in _platforms)
                        {
                            <MudSelectItem Value="@platform">@platform.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudTh>
                <MudTh>
                    <MudSelect T="CategoryDto" Label="Catégories" Clearable="true" Placeholder="RPG" MultiSelection="true" SelectedValues="SearchGameState.SearchGame.Categories" SelectedValuesChanged="OnSelectedCategoriesChanged">
                        @foreach (var category in _categories)
                        {
                            <MudSelectItem Value="@category">@category.Name</MudSelectItem>
                        }
                    </MudSelect>
                </MudTh>
                <MudTh>
                    <MudAutocomplete T="SimpleSerieDto" Value="SearchGameState.SearchGame.Serie" ValueChanged="OnSerieChanged" Label="Série" SearchFunc="@SearchSerie" Clearable="true" ResetValueOnEmptyText="true" Placeholder="Final Fantasy" />
                </MudTh>
                <MudTh>
                    <MudSelect T="GameDetailStatusEnumDto?" Value="SearchGameState.SearchGame.GameDetailStatus" ValueChanged="OnStatusChanged" Label="Status" Clearable="true" Placeholder="Fini">
                        @foreach (var gameDetailStatus in Enum.GetValues(typeof(GameDetailStatusEnumDto)).Cast<GameDetailStatusEnumDto?>())
                        {
                            <MudSelectItem Value="gameDetailStatus">@gameDetailStatus!.GetDescription()</MudSelectItem>
                        }
                    </MudSelect>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nom">@context.Name</MudTd>
                <MudTd DataLabel="Platformes">@context.Platforms</MudTd>
                <MudTd DataLabel="Catégories">@context.Categories</MudTd>
                <MudTd DataLabel="Serie">@context.Serie</MudTd>
                <MudTd DataLabel="Status">
                    @foreach (var status in @context.Status)
                    {
                        <MudChip T="string" Color="@status.ToColor()">@status.GetDescription()</MudChip>
                    }
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <MudTablePager RowsPerPageString="Jeux par page: " />
            </PagerContent>
        </MudTable>
    }
    else
    {
        <MudTable T="SearchGameItemDto" Hover="true" Striped="true" LoadingProgressColor="Color.Info" RowClass="cursor-pointer" OnRowClick="OnGameClicked"
                  Items="@GamesBySeries"
                  GroupBy="@_groupDefinition"
                  @ref="_tableSerieRef">
            <ColGroup>
                <col style="width: 60px;" />
                <col />
                <col />
                <col />
                <col />
                <col />
            </ColGroup>
            <HeaderContent>
                <MudTh>Nom</MudTh>
                <MudTh>Platform</MudTh>
                <MudTh>Catégories</MudTh>
                <MudTh>Status</MudTh>
            </HeaderContent>
            <GroupHeaderTemplate>
                <MudTh Class="mud-table-cell-custom-group" colspan="5">
                    <MudGrid>
                        <MudItem xs="11">
                            <MudText Style="padding: 12px;">@($"{context.Key}")</MudText>
                        </MudItem>
                        <MudItem xs="1">
                            <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="() => NavigateToSerie(context.Key!.ToString()!)" />
                        </MudItem>
                    </MudGrid>
                </MudTh>
            </GroupHeaderTemplate>
            <RowTemplate>
                <MudTd DataLabel="Nom">@context.Name</MudTd>
                <MudTd DataLabel="Platform">@context.Platforms</MudTd>
                <MudTd DataLabel="Catégories">@context.Categories</MudTd>
                <MudTd DataLabel="Status">
                    @foreach (var status in @context.Status)
                    {
                        <MudChip T="string" Color="@status.ToColor()">@status.GetDescription()</MudChip>
                    }
                </MudTd>
            </RowTemplate>
        </MudTable>
        
    }

</div>

@code {
    private List<CategoryDto> _categories = [];
    private List<PlatformDto> _platforms = [];
    private List<SimpleSerieDto> _simpleSeries = [];
    private List<SerieDto> _series = [];
    private MudTable<SearchGameItemDto>? _table;
    private bool _loading;

    private MudTable<SearchGameItemDto>? _tableSerieRef;

    private TableGroupDefinition<SearchGameItemDto> _groupDefinition = new()
    {
        Indentation = false,
        Expandable = true,
        IsInitiallyExpanded = false,
        Selector = (e) => e.Serie
    };

    private IEnumerable<SearchGameItemDto> GamesBySeries = new List<SearchGameItemDto>();

    protected override async Task OnInitializedAsync()
    {
        var getAllCategoriesResult = CategoryService.GetAllCategories(CancellationToken);
        var getAllPlatformsResult = PlatformService.GetAllPlatforms(CancellationToken);
        var getAllSeriesResult = SerieService.GetAllSeries(CancellationToken);
        var getSeriesWithGameResult = SerieService.GetSeriesWithGames(CancellationToken);

        await Task.WhenAll(getAllCategoriesResult, getAllPlatformsResult, getAllSeriesResult, getSeriesWithGameResult);

        if (getAllCategoriesResult.Result.IsSucceed && getAllPlatformsResult.Result.IsSucceed &&
            getAllSeriesResult.Result.IsSucceed && getSeriesWithGameResult.Result.IsSucceed)
        {
            _categories = getAllCategoriesResult.Result.Result!;
            _platforms = getAllPlatformsResult.Result.Result!;
            _simpleSeries = getAllSeriesResult.Result.Result!;
            GamesBySeries = getSeriesWithGameResult.Result.Result!;
        }
    }

    private async Task<TableData<SearchGameItemDto>> SearchGames(TableState state, CancellationToken token)
    {
        _loading = true;
        SearchGameState.SearchGame.Page = ++state.Page;
        SearchGameState.SearchGame.Size = state.PageSize;

        var searchGamesResult = await GameService.SearchGame(token, SearchGameState.SearchGame);
        _loading = false;

        if (searchGamesResult.IsSucceed)
        {
            var games = searchGamesResult.Result!;
            return new() { TotalItems = games.TotalItems, Items = games.Items };
        }

        return new() { TotalItems = 0, Items = [] };
    }

    private void OnPlatformChanged(PlatformDto platform)
    {
        SearchGameState.SearchGame.Platform = platform;
        ReloadData();
    }

    private void OnSerieChanged(SimpleSerieDto serie)
    {
        SearchGameState.SearchGame.Serie = serie;
        ReloadData();
    }

    private void OnStatusChanged(GameDetailStatusEnumDto? status)
    {
        SearchGameState.SearchGame.GameDetailStatus = status;
        ReloadData();
    }

    private void OnSelectedCategoriesChanged(IEnumerable<CategoryDto> categories)
    {
        SearchGameState.SearchGame.Categories = categories.ToList();
        ReloadData();
    }

    private void OnSearchGameChanged(string searchGame)
    {
        SearchGameState.SearchGame.Name = searchGame;
        ReloadData();
    }

    private void ReloadData()
    {
        _table?.ReloadServerData();
    }

    private async Task CreateGame()
    {
        var parameters = new DialogParameters<GameCreationDialog>
        {
            { x => x.Platforms, _platforms },
            { x => x.Categories, _categories },
            { x => x.Series, _simpleSeries }
        };
        var dialogOptions = new DialogOptions() { CloseButton = true, FullWidth = true };
        var dialogReference = await DialogService.ShowAsync<GameCreationDialog>("Création d'un jeu", parameters, dialogOptions);
        var response = await dialogReference.Result;

        if (!response!.Canceled)
        {
            var createGameDto = (CreateGameDto)response.Data!;
            var createGameResult = await GameService.CreateGame(CancellationToken, createGameDto);
            if (createGameResult.IsSucceed)
            {
                Snackbar.Add($"Le jeu {createGameDto.Name} a bien été créé.", Severity.Success);
                NavigateToGame(createGameResult.Result);
            }
        }
    }

    private async Task<IEnumerable<SimpleSerieDto?>> SearchSerie(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
            return await Task.FromResult(new List<SimpleSerieDto>());

        return await Task.FromResult(_simpleSeries.Where(x => x.Serie.Contains(value, StringComparison.InvariantCultureIgnoreCase)));
    }

    private void OnGameClicked(TableRowClickEventArgs<SearchGameItemDto> tableRowClickEventArgs) =>
        NavigateToGame(tableRowClickEventArgs.Item!.Id);

    private void NavigateToGame(Guid gameId) => Navigation.NavigateTo($"/games/{gameId}");
    private void NavigateToSerie(string serieName) => Navigation.NavigateTo($"/games/series/{serieName}");
}
